---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Vi blir <span class="text-gradient">Omegapoint!...</span>på riktigt	</h1>
		<p class="instructions">
			I juni 2021 lanserade vi att Integrationsbolaget och Molnbolaget förvärvas av konsultbolaget Omegapoint. Vi har sedan dess haft kvar våra företagsnamn, Integrationsbolaget och Molnbolaget. För att bli tydligare som organisation i kommunikation och varumärke med våra kunder, leverantörer och rekryter, ser vi det nu som självklart att byta namn till Omegapoint. 
			Vårt erbjudande har utökats med kompetens inom cybersäker digitalisering. Med premiumexpertis inom våra respektive områden, har vi stärkt varandra i leveranskapacitet och kompletterat varandras erbjudanden. Nu flyttar vår web ihop med Omegapoint och här läser du mer om våra tjänster.
		</p>
		<Button></Button>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
