---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <div class="content">
    <video autoplay loop muted src="/integrationsbolaget/video.mp4"></video>
  </div>
  <main>
    <h1>Vi blir<span id="typewriter"></span></h1>
    <p>
      I juni 2021 lanserade vi att Integrationsbolaget och Molnbolaget förvärvas
      av konsultbolaget Omegapoint. Vi har sedan dess haft kvar våra
      företagsnamn, Integrationsbolaget och Molnbolaget. För att bli tydligare
      som organisation i kommunikation och varumärke med våra kunder,
      leverantörer och rekryter, ser vi det nu som självklart att byta namn till
      Omegapoint.
      <br /><br />
      Vårt erbjudande har utökats med kompetens inom cybersäker digitalisering. Med
      premiumexpertis inom våra respektive områden, har vi stärkt varandra i leveranskapacitet
      och kompletterat varandras erbjudanden. Nu flyttar vår web ihop med Omegapoint
      och här läser du mer om våra tjänster.
    </p>
    <Button />
  </main>
</Layout>

<script>
  const video = document.querySelector('video');
  video.playbackRate = 0.6; 
  video.muted = true;
  video.play();
  const typewriter = document.getElementById("typewriter");
  const text = " Omegapoint!...på riktigt";
  let index = 0;

  function typeWriter() {
    if (index < text.length) {
      typewriter.innerHTML += text.charAt(index);
      index++;
      setTimeout(typeWriter, 150);
    } else {
      setTimeout(eraseText, 1000);
    }
  }
  function eraseText() {
    if (index >= 0) {
      typewriter.innerHTML = text.substring(0, index);
      index--;
      setTimeout(eraseText, 150);
    } else {
      index = 0;
      setTimeout(typeWriter, 500);
    }
  }
  typeWriter();
</script>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin: 0px;
    padding: 16px;
    max-width: 1024px;
  }
  h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 16px 0px;
    padding: 0px;
    overflow: hidden;
    border-right: 4px solid #286166;
    animation: blink-caret 0.9s step-end infinite;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #286166;
    }
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    filter: brightness(70%);
    playback-rate: 1;
  }
  .content video {
    width: 100vw;
    height: 100vh;
    display: block;
    object-fit: cover;
  }
  .content:before {
    content: "";
    position: absolute;
    background: #286166;
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    mix-blend-mode: color;
    filter: contrast(1.95);
  }
</style>
