<a class="primary-button" href="https://omegapoint.se/integration">Läs mer här!</a>

<style>
    .primary-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #286166;
        border: none;
        border-radius: 8px;
        color: white;
        margin: 32px 0px;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
    }
    .primary-button:hover {
        background-color: #1E4A52;
    }
</style>