<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: Roboto, sans-serif;
		color: white;
		background-color: black;
	}
	body {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px;
		padding: 0px;
	}
</style>
