<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: Roboto, sans-serif;
		color: white;
		background-color: black;
	}
	body {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
	}
</style>
